<div class="container">
  <div class="content-header">
    <div class="content-header_item">
      <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
    </div>
  </div>
  <div class="container-wrap">
    <div class="content-container">
      <div class="content-form-wrap" [formGroup]="submitForm">
        <div class="content-form">
          <span>Tên đăng nhập</span>
          <input
            type="text"
            pInputText
            placeholder="---"
            formControlName="account"
          />
        </div>
        <div class="content-form">
          <span>Phòng ban</span>
          <div>
            <p-dropdown
              [options]="departments"
              [style]="{ width: '100%' }"
              placeholder="Tất cả"
              optionValue="code"
              optionLabel="name"
              formControlName="department"
            >
            </p-dropdown>
          </div>
        </div>
        <div class="content-form">
          <span>Trạng thái</span>
          <div>
            <p-dropdown
              [options]="status"
              [style]="{ width: '100%' }"
              placeholder="Tất cả"
              optionValue="code"
              optionLabel="name"
              formControlName="status"
            >
            </p-dropdown>
          </div>
        </div>
        <div class="content-form">
          <span>Mã nhân viên</span>
          <input
            type="text"
            pInputText
            placeholder="---"
            formControlName="code"
          />
        </div>
        <div class="content-form">
          <span>Tên nhân viên</span>
          <input
            type="text"
            pInputText
            placeholder="---"
            formControlName="name"
          />
        </div>
      </div>
      &nbsp;
      <div class="button-container">
        <div>
          <button pButton pRipple
            (click)="onSubmit()"
            label="Tìm kiếm"
          >
          </button>
        </div>
        <div class="button-reload">
          <p-button
            icon="pi pi-replay"
            (click)="reload()"
            >
          </p-button>
        </div>
        <div>
          <app-content-action
            [displayModal]="displayModal"
            (messageEvent)="changeDisplayModal($event)"
          >
          </app-content-action>
        </div>
      </div>
      &nbsp;
      <div class="table-wrap">
        <p-table
          [value]="products"
          id="customers"
          [paginator]="true"
          [rows]="5"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [rowsPerPageOptions]="[5, 10, 15]"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>STT</th>
              <th>Account</th>
              <th>Mã nhân viên</th>
              <th>Tên nhân viên</th>
              <th>Chức vụ</th>
              <th>Phòng ban</th>
              <th>Email nhân viên</th>
              <th>Số điện thoại</th>
              <th>Khối</th>
              <th>Loại User</th>
              <th>Trạng thái hoạt động</th>
              <th>Trạng thái khóa/mở user</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
            <tr>
              <td>{{ product.id }}</td>
              <td>{{ product.account }}</td>
              <td>{{ product.code }}</td>
              <td>{{ product.name }}</td>
              <td>{{ product.position }}</td>
              <td>{{ product.department }}</td>
              <td>{{ product.email }}</td>
              <td>{{ product.phone }}</td>
              <td>{{ product.group }}</td>
              <td>{{ product.type }}</td>
              <td>{{ product.status }}</td>
              <td>{{ product.statusUser }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
